[Unit]
Description=My Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/k8s-course/python
ExecStart=/home/ubuntu/k8s-course/python/venv/bin/python /home/ubuntu/k8s-course/python/app.py

[Install]
WantedBy=multi-user.target